In [15]:
import numpy as np

In [7]:
a = (1, 'pom')
a[0]

1

In [8]:
a[1]

'pom'

In [9]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [3]:
b = ((1,2,3), ('a', 'b', 'c'), (True, True, False))
b[1]

False

In [10]:
b[2][2]

False

In [11]:
for data in b:
    print(data)

(1, 2, 3)
('a', 'b', 'c')
(True, True, False)

In [12]:
for x,y,z in b:
    print(f'x:{x}, y:{y}, z:{z}')

x:1, y:2, z:3
x:a, y:b, z:c
x:True, y:True, z:False

In [13]:
def test_tuple(param):
    return param[0] + 1, param[1] + 'added'

c,d = test_tuple((3,'qom'))

c

4

In [14]:
d

'qomadded'

In [16]:
def tuple_num(num):
    return np.average(num), np.sum(num)

In [21]:
ave,sums = tuple_num((1,2,3,4))
ave

2.5

In [22]:
sums

10